/* Here you can put your specific typography, layout styles. */

#abstract {
  color:#000;
  page-break-after: always;
  display:inline;
}
.abstract-fadeout{
  display:none;
}
.short-abstract {
  color:#000;
}
.full-abstract {
  display:inline;
  color:#000;
}
section.thesis-content {
  page-break-after: always;
}
#breaker {
  display:none;
}
.content {
  width:70%;
  color:#000;
}
.sideContent {
  left: 75%;
  color:#000;
}
#heading {
  width:95%;
  color:#000;
}
#article-wrapper {
  width:95%;
}
#chapterNav-wrapper {
  display:none;
}
#print {
  display: none;
}