/*@media only screen and (max-width:600px) {
	.article-wrapper {
		width:65%;
		margin-left:2.5%;
		z-index:-1;
	}
}*/

@media only screen and (min-width: 600px) {

}

@media print {
	h1, p {
		margin: 200px;
	}
}

body {
	background: white;
	color:black;
	font-family: helvetica, sans-serif;
	line-height: 150%;
	font-size: 18px;
	margin:0;
	padding:0;
	text-align: justify;
	font-weight:normal;
}

h1, h2{
	font-size: 1.4em;
	margin:0;
	margin-left:1.428em;
	font-weight:normal;
	text-transform: uppercase;
}

h1 {
	font-size:6em;
	line-height:150%;
	margin-top:1em;
	margin-bottom:2em;
}

h2 {
	margin-top:2em;
	margin-bottom:1em;
}

p {
	margin:0;
}

span {
	margin-left:2em;
}

article {
	margin-top:80px;
	margin-bottom:80px;
}

#hfdstktwee {
	min-height:100px;
}

#hdstkdrie {
	min-height:100px;
}

.image {
	margin:0;
	position: absolute;
	z-index: -1;
	font-family: menlo;
	font-weight: normal;
	background: pink;
	color: black;
	width:60%;
	font-size: 2px;
	line-height: 100%;
}

.article-footnote {
	position: fixed;
	width:100%;
	bottom:0;
	color:#000;
	background-color: #fff;
/*	height:8%;
*/	z-index:99999;
	border-top:1px solid black;
}

.text-footnote {
	margin-top:1.5em;
	margin-left:2em;
	margin-bottom:1.5em;
}

.progressWrapper {
	position:absolute;
	width:inherit;
	height:100%;
}

/*.active {
	background-color: #000;
}*/

.scroll-progress {
	min-width:10;
	background-color: #fff;
}

#scroll {
    height: 100%;
}

#scrolltwo {
    height: 100%;
}

.pagetitle {
	font-size: 1.2em;
	line-height: 1.2em;
	color:#fff;
	width:100%;
	padding-top:1em;
	text-align: center;
	z-index: 1;
/*	mix-blend-mode:difference;
*/}

#chapterNav-wrapper {

}

#rowNav {
	position:fixed;
	height:100%;
	width:20%;
	margin:0;
	padding:0;
	right:0;
	background-color: #000;
/*	border-left:1px solid white;
*/}

#chapterNav {
	height:100%;
	width:24%;
	float:left;
	border-right:1px solid white;
	border-left:1px solid black;
}

#container {
	width:100%;
	padding-left:2%;
}

#container div {
	float:left;
	position:absolute;
}

.clear {
	clear:both;
}

.article-wrapper {
	width:40%;
}

.clear-right {
	width:30%;
}


